Repository THipster/THipster-cli, pull requests merged in 2023-06, with the labels that each got.

#17 :wrench: feat: update doc, ci and config files to public repository standard
  .github/ISSUE_TEMPLATE/doc_update.yml
  .github/pull_request_template.md
  .github/workflows/codeql.yml
  .github/workflows/issue-to-project.yml
  .github/workflows/release.yml
  .readthedocs.yaml
  README.md
  SECURITY.md
  docs/.gitkeep
  docs/Makefile
  docs/make.bat
  docs/source/conf.py
  docs/source/index.rst
  requirements-dev.txt
  requirements-doc.txt
  requirements-test.txt
  setup.py
Labels: documentation, ci, github_actions

#20 :recycle: fix: Add ruff rules
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  README.md
  ci/__init__.py
  ci/automated_tests.py
  ci/base.py
  ci/precommit.py
  ci/prhandler.py
  ci/release.py
  docs/source/__init__.py
  docs/source/conf.py
  pyproject.toml
  setup.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_providers.py
  thipstercli/__main__.py
  thipstercli/cli.py
  thipstercli/config.py
  thipstercli/constants.py
  thipstercli/display.py
  thipstercli/helpers.py
  thipstercli/providers.py
Labels: documentation, ci, tests, gitignore

#19 :sparkles: feat: add offline mode
  ci/base.py
  pyproject.toml
  requirements.txt
  setup.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_providers.py
  tests/test_repository.py
  thipstercli/__main__.py
  thipstercli/cli.py
  thipstercli/config.py
  thipstercli/constants.py
  thipstercli/display.py
  thipstercli/helpers.py
  thipstercli/providers.py
  thipstercli/repository.py
Labels: ci, tests

#31 :arrow_up: chore(deps): Upgrade dev & test
  requirements-dev.txt
  requirements-test.txt
Labels: dependencies

#29 :sparkles: feat: add info command
  requirements.txt
  tests/test_info.py
  tests/test_providers.py
  tests/test_repository.py
  thipstercli/cli.py
  thipstercli/commands/__init__.py
  thipstercli/commands/info.py
  thipstercli/commands/providers.py
  thipstercli/commands/repository.py
Labels: tests

#34 :green_heart: feat(ci): update ci workflows
  .github/labeler.yml
  .github/workflows/codeql.yml
  .github/workflows/pr-handler.yml
Labels: ci, github_actions

#35 :arrow_up: chore(bump): thipster 0.17.7
  pyproject.toml
  requirements.txt
  thipstercli/cli.py
Labels: dependencies, python, configuration

#38 :arrow_up: chore(bump): thipster v0.18.0
  requirements.txt
Labels: dependencies

#45 :arrow_up: chore(bump): thipster 0.19.6
  requirements.txt
Labels: dependencies

#47 :zap: perf: improve cli perf
  thipstercli/__main__.py
  thipstercli/cli.py
Labels: python
